html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: 'Georgia', sans-serif;
}

h1 {
  font-size: 3.2rem;
  color: $color-primary;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

.button {
  font-family: 'Georgia', sans-serif;
  width: 207px;
  height: 52px;
  border: none;
  border-radius: 100px;
  background-color: $color-primary;
}