html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: "Georgia", sans-serif;
}

h1 {
  font-size: 3.2rem;
  color: #F1CDB3;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

.button {
  font-family: "Georgia", sans-serif;
  width: 207px;
  height: 52px;
  border: none;
  border-radius: 100px;
  background-color: #F1CDB3;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.friends {
  background-color: #F6F6F6;
}

.friends__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 100px 40px;
}

.friends__header {
  color: #545454;
  padding: 0 400px 60px 400px;
  text-align: center;
  margin: 0;
}

.layout-3-column {
  display: flex;
  align-items: center;
}

.control_button {
  width: 52px;
  border: 2px solid #F1CDB3;
  background-color: #F6F6F6;
}

.tool__button {
  border: 2px solid #F1CDB3;
  background-color: #FAFAFA;
  margin: 0 0 30px 0;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  margin: 0 45px;
}

.tool__name {
  margin: 30px 0;
}

.tools-button {
  margin: 60px 469px 0 470px;
}

.donation {
  background-color: #F6F6F6;
}

.donation__wrapper {
  display: flex;
  padding: 80px 40px 100px 40px;
}

.donation__img {
  padding: 11px 15px 10px 143px;
}

.donation__content {
  padding: 15px 142px 0 15px;
}

.donation__header {
  color: #545454;
  padding: 0 80px 10px 0;
  margin: 0;
}

.donation__bank {
  color: #545454;
  padding: 10px 73px 10px 0;
  margin: 0;
}

.card_number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 349px;
  height: 43px;
  border-radius: 9px;
  background-color: #F1CDB3;
  margin: 10px 0 10px 0;
}

.card__text {
  color: #545454;
  font-size: 2rem;
  padding: 10px 15px;
  margin: 0;
}

.card__image {
  padding: 10px 0 10px 0;
}

.card__info {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  color: #B2B2B2;
  padding: 10px 0 0 0;
  margin: 0;
}

.header {
  padding: 30px 40px 0 40px;
  background: url("/shelter/img/start-screen-background.png");
  background-size: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
}

li {
  list-style: none;
  padding: 0 17px;
  color: #CDCDCD;
}

.logo__text {
  font-family: Arial, sans-serif;
  color: #FFFFFF;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo__text {
  margin: 5px 0 0 0;
}

.logo__header {
  margin: 0 0 5px 0;
}

.start {
  background: url("/shelter/img/start-screen-background.png");
  background-size: 100%;
}

.start__wrapper {
  padding: 0 40px;
  display: flex;
}

.start__content {
  padding: 253px 42px 243px 0;
}

.start__header {
  font-size: 4.4rem;
  color: #FFFFFF;
  margin: 0 130px 42px 0;
}

.start__text {
  font-family: Arial, sans-serif;
  line-height: 2.4rem;
  color: #CDCDCD;
}

.start__button {
  width: 207px;
  height: 52px;
  border: none;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin: 21px 253px 0 0;
}

.start__image {
  padding: 90px 0 0 0;
}

.about {
  background-color: #FFFFFF;
}

.about__wrapper {
  padding: 80px 40px 100px 40px;
  display: flex;
}

.about__content {
  padding: 14px 175px 14px 58px;
}

.about__image {
  padding: 0 60px 0 175px;
}

.about__header {
  color: #545454;
  padding: 0 60px 0 0;
  margin: 0;
}

.about__text {
  font-family: Arial, sans-serif;
  color: #4C4C4C;
  padding: 25px 0 0 0;
  margin: 0;
}

.help {
  background-color: #FFFFFF;
}

.help__wrapper {
  padding: 80px 40px 100px 40px;
}

.help__header {
  color: #545454;
  text-align: center;
  padding: 0 446px 5px 446px;
  margin: 0;
}

.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #545454;
  font-size: 2rem;
  padding: 55px 120px 0 0;
}

.element__shampoos {
  padding: 55px 0 0 0;
}

.element__vitamins {
  padding: 55px 120px 0 84px;
}

.element_sleep {
  padding: 55px 84px 0 0;
}

.layout-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 87px 0 87px;
}

.footer {
  background: url("/shelter/img/footer-background.png");
  background-size: 100%;
}

.footer__wrapper {
  display: flex;
  padding: 40px 40px 0 40px;
  height: 310px;
}

.footer__contacts {
  font-size: 2rem;
  color: #F1CDB3;
  padding: 16px 80px 60px 0;
}

.footer__address {
  font-size: 2rem;
  color: #F1CDB3;
  padding: 16px 80px 60px 80px;
}

.footer_img {
  padding: 0 0 0 80px;
}

.address__header {
  padding: 0 31px 34px 1px;
  margin: 0;
  color: #FFFFFF;
}

.contacts__header {
  padding: 0 0 40px 0;
  margin: 0;
  color: #FFFFFF;
}

.contacts__email {
  display: flex;
  align-items: center;
  padding: 0 27px 20px 0;
}

.contacts__phone {
  display: flex;
  align-items: center;
}

.contacts__address {
  display: flex;
  align-items: center;
}

.address__text {
  padding: 0 0 0 20px;
}

.email__text {
  padding: 0 0 0 20px;
}

.phone__text {
  padding: 0 0 0 20px;
}

/*# sourceMappingURL=style.css.map */
